@inject IViewLocalizer Localizer

<h5 class="bg-danger text-white text-center p-2 rounded-top">@Localizer["Access_Denied"]</h5>
<a class="btn btn-primary mt-2" asp-action="Login">@Localizer["Log_in"]</a>