@model FollowUpVM
<div class="shadow-lg p-3 mb-5 bg-white rounded">
    <pre>@Model.FollowUpMessage</pre>
</div>

<form asp-action="FollowUp" method="post"
    asp-route-meetingId="@Model.MeetingId"
    asp-route-mode="@Model.Mode"
    asp-route-personId="@Model.PersonId">
        <button class="btn btn-success mt-2" type="submit">
            Send Follow-Up
        </button>
</form>