@using tl121pet.DAL.Interfaces
@using tl121pet.ViewModels

@model MeetingTypeVM
<partial name="_Validation"></partial>

<h5 class="bg-@Model.Theme text-white text-center p-2">@Model.Mode.ToString()</h5>

<form asp-action="MeetingTypeCreate" method="post">
    @if (@Model.Mode == tl121pet.Storage.FormMode.Edit)
    {
        <div class="form-group">
            <label asp-for="SelectedMeetingType.MeetingTypeId"></label>
            <input class="form-control" asp-for="SelectedMeetingType.MeetingTypeId" readonly/>
        </div>        
    }
    <div class="form-group">
        <label asp-for="SelectedMeetingType.MeetingTypeName"></label>
        <div>
            <span asp-validation-for="SelectedMeetingType.MeetingTypeName" class="text-danger"></span>
        </div>
        <input class="form-control" asp-for="SelectedMeetingType.MeetingTypeName" disabled="@Model.IsReadonly"/>
    </div>

    @if (Model.Mode != tl121pet.Storage.FormMode.Details)
    {
        <button class="btn btn-info mt-2" type="submit">
            Save
        </button>       
    }
    <a class="btn btn-secondary mt-2" asp-action="MeetingTypeList">Back</a>
</form>