<div class="d-grid gap-2">
    <a class="btn btn-outline-secondary"asp-action="Index"
        asp-controller="Home" asp-route-category="">
            Persons
    </a>
    <a class="btn btn-outline-secondary"
        asp-action="Index" asp-controller="Home">
            Grades
    </a>
    <a class="btn btn-outline-secondary"
        asp-action="MeetingList" asp-controller="Meeting">
            Meetings
    </a>
    <a class="btn btn-outline-secondary"
        asp-action="MeetingTypeList" asp-controller="Meeting">
            Meeting Types
    </a>
</div>