@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>TeamLead helper</title>
        <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    </head>
    <body>
        <div class="bg-dark text-white p-2">
            <div class="container-fluid">
                <div class="row">
                    <div class="col navbar-brand col-9">TeamLead Helper  (v.@System.Reflection.Assembly.GetExecutingAssembly().GetName().Version.ToString())</div>
                    <form asp-action="SetLanguage" asp-controller="Home" class="col-sm">
                        <div class="row">
                            <select onchange="OnSelected" class="col-sm form-select" onclick="OnSelected" name="lang">
                                <option value="ru-RU">ru-RU</option>
                                <option value="en-US">en-US</option>
                            </select>
                            <button class="col-sm btn btn-sm btn-info p-2" type="submit">Ok</button>                            
                        </div>
                    </form>
                    <form asp-action="Logout" asp-controller="Auth" class="col-sm">
                            <button class="btn btn-sm btn-danger p-2" type="submit">Logout</button>                            
                    </form>
                </div>
            </div>
        </div>
        <div class="row m-1 p-1">
            <div id="categories" class="col-2">
                <vc:navigation-menu />
            </div>
            <div class="col-9">
                @RenderBody()
            </div>
        </div>
    </body>
</html>